@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #fe9a00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #fe9a00;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.swiper.category-slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.swiper-pagination {
  display: none !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
